.change-password-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-wrap header {
    width: 100%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    background-image: url('../../images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 4%;
}

.change-password-wrap header i {
    width: 30px;
    height: 30px;
    margin-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../images/back.png');
}

.change-password-wrap header span {
    flex-grow: 1;
    text-align: center;
    margin-right: 6px;
    font-size: 1.5em;
    font-weight: normal;
}
.change-password-wrap input{
  width: 100%;
  font-size: 1.2em;
  line-height: 3;
  border:none;
}
.change-password-wrap>span{
  width: 74%;
  background-image: url('../../images/user-bg.png');
  padding: 4% 0;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-top: 35%;
}