.home-wrap {
    width: 100vw;
    height: 110vh;
}

.home-wrap header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../images/login-bg.png');
    background-size: cover;
    padding: 2% 0;
}

.home-wrap header a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 4%;
}

.home-wrap header a img {
    width: 28%;
    margin-left: 3%;
}

.home-wrap header>img:nth-child(2) {
    width: 20%;
}

.home-wrap header>img:last-child {
    width: 6%;
    margin-right: 4%;
}

.ant-carousel .slick-slide {
    overflow: hidden;
    display: flex;
}

.ant-carousel .slick-slide img {
    width: 100%;
}

.home-main {
    background-color: #f0ebeb;
}

.small-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-title i {
    width: 6%;
    height: 1px;
    background-color: red;
}

.small-title span {
    margin: 0 2%;
    font-size: 1em;
    line-height: 2.5;
    color: red;
}

.home-contain {
    display: flex;
    justify-content: space-around;
}

.home-contain>a {
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: #333;
}

.home-main-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.home-main-content>span {
    height: 50%;
}

.home-main-content>div {
    display: flex;
    align-items: center;
}

.home-main-content>div img {
    width: 20%;
}

.home-main-content .home-user {
    display: flex;
    justify-content: space-between;
}

.home-main-content .home-username {
    display: flex;
}

.home-main-content .home-username i {
    font-style: normal;
}

.home-main-content .home-username i:last-child {
    width: 20px;
    height: 20px;
    background-image: url('../../images/45.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.home-main-content:nth-child(2) .home-username i:last-child {
    background-image: url('../../images/76.png');
}

.home-main-content .home-user-score {
    color: red;
    display: flex;
}

.home-main-content .home-user-score i:first-child {
    width: 20px;
    height: 20px;
    background-image: url('../../images/score.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.home-main-content .home-position {
    display: flex;
    flex-direction: column;
}

.home-main-content .home-position div {
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.home-main-content .home-position div span:first-child {
    width: 16px;
    height: 16px;
    background-image: url('../../images/position.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.home-today {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.home-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.home-pic img {
    width: 31%;
}

.home-today p {
    font-size: 0.75em;
    color: rgb(134, 122, 122);
    word-spacing: -1px;
    margin: 0;
}

.home-today>span {
    font-size: 0.75em;
    color: rgb(153, 144, 144);
}

.home-today .home-comment {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.home-comment div {
    display: flex;
    align-items: center;
}

.home-comment div i {
    width: 30px;
    height: 30px;
    background-image: url('../../images/eye.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.home-comment div:nth-child(2) i {
    background-image: url('../../images/like.png');
}

.home-comment div:last-child i {
    width: 35px;
    height: 35px;
    background-image: url('../../images/comment.png');
}
